@import "_common-style";
@import "__menu.scss";

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.callback-wrapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 110px;
    height: 110px;
    background: $primary-color;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}

.callback-wrapp:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.callback {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    //padding: 22px 0 0 0;

    &__svg {
        width: 23px;
        height: 23px;
        stroke: #FFFFFF;
        margin-bottom: 2px;
    }

    &__text {
        width: 100%;
        font-size: 14px;
        color: #FFFFFF;
    }
}


.wrapper {}

.header {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);

    &__body {}

    &__first-wrapp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 18px 0;

        @media screen and (max-width: 670px) {
            position: relative;
        }
    }
}


.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__img {
        width: 67px;
        height: 62px;
        margin-right: 10px;


        @media screen and (max-width: 400px) {
            width: 42px;
            height: 42px;
        }
    }

    &__text-wrapp {}

    &__tittle {
        font-family: 'Proxima Nova';
        font-size: 48px;
        text-transform: uppercase;
        line-height: 41px;
        color: $primary-color;

        @media screen and (max-width: 400px) {
            font-size: 30px;
            line-height: 27px;
        }
    }

    &__subtittle {
        font-family: 'Proxima Nova';
        font-size: 15px;
        color: $text-color;

        @media screen and (max-width: 400px) {
            font-size: 12px;
        }
    }
}

.work {
    width: 375px;
    text-align: center;

    @media screen and (max-width: 1100px) {
        margin-top: 15px;
        width: 100%;
        order: 3;
    }

    @media screen and (max-width: 670px) {
        margin-top: 0;
        width: 100%;
        order: 3;
    }

    &__about {
        margin-bottom: 11px;
    }

    &__day {
        font-weight: bold;
    }
}


.contacts-wrapp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;


    @media screen and (max-width: 670px) {
        flex-wrap: wrap;
        flex-direction: unset;
        margin-top: 15px;
        width: 100%;
        order: 2;
    }

    &__row-one {
        width: 320px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        @media screen and (max-width: 670px) {
            margin-bottom: 15px;
            margin-right: 20px;
        }

        @media screen and (max-width: 450px) {
            width: 100%;
            justify-content: center;
            margin-right: 0;
        }

        @media screen and (max-width: 360px) {
            flex-direction: column;
        }


    }

    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;

        @media screen and (max-width: 450px) {
            margin-right: 20px;
        }

        @media screen and (max-width: 360px) {
            margin-bottom: 10px;
            margin-right: 0;
        }
    }

    &__mail {
        font-size: 14px;
        text-decoration-line: underline;
        color: $text-color;
    }

    &__row-two {
        display: flex;
        align-self: flex-end;
        align-items: center;
        position: relative;

        @media screen and (max-width: 670px) {
            margin-bottom: 15px;
        }
    }
}

.personal-area {
    display: flex;
    justify-content: start;
    align-items: center;


    &__img {
        width: 12px;
        height: 13px;
        margin-right: 8px;
        stroke: $primary-color;
    }

    &__text {
        font-size: 14px;
        text-decoration-line: underline;
        color: $text-color;
    }
}


.contact {

    &__icon {
        width: 20px;
        height: 20px;
        margin-right: 15px;
        stroke: $text-color;
        stroke-width: 2;
    }

    &__icon:hover {
        stroke: $primary-color;
    }

    &__number {
        font-size: 16px;
        font-weight: bold;
        margin-right: 6px;
    }

    &__arrow-wrapp {
        position: relative;
        width: 20px;
        height: 20px;
        background-color: #EDEDED;
        border-radius: 50%;
        cursor: pointer;
    }

    &__arrow {
        stroke: $text-color;
        stroke-width: 3;
        width: 4px;
        height: 8px;
        position: absolute;
        z-index: 19;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        transition: .5;
    }

    &__arrow-active {
        transform: translate(-50%, -50%) rotate(-90deg);
    }
}

.number-list {
    opacity: 0;
    height: auto;
    position: absolute;
    top: 178%;
    right: -11px;
    z-index: -1;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    transition: .5s;

    &__rhomb {
        position: absolute;
        top: -3px;
        right: 8px;
        background: #fff;
        width: 28px;
        height: 28px;
        transform: rotate(45deg);
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__img {
        width: 25px;
        height: 25px;
        margin-right: 11px;
    }

    &__number {
        font-size: 16px;
        color: $text-color;
    }
}

.number-list__active {
    opacity: 1;
    z-index: 30;
}



.basket {
    position: relative;
    width: 44px;
    height: 44px;
    margin-left: 20px;

    @media screen and (max-width: 670px) {
        position: absolute;
        top: 27px;
        right: 19px;
    }

    @media screen and (max-width: 400px) {
        width: 36px;
        height: 36px;
        right: 14px;
    }


    &__svg {
        width: 100%;
        height: 100%;
        stroke: $primary-color;

    }

    &__number-wrapp {
        position: absolute;
        top: -20%;
        right: -40%;
        display: flex;
        justify-content: center;
        line-height: 0;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: $primary-color;
        border-radius: 50%;

        @media screen and (max-width: 400px) {
            width: 25px;
            height: 25px;
        }
    }

    &__number-goods {
        font-weight: bold;
        font-size: 14px;
        color: #fff;

        @media screen and (max-width: 400px) {
            font-size: 12px;
        }
    }
}

// -----------------------------------first-screen-----------------------------------
.first-screen {
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(..//img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 70%;

    &__body {
        padding: 153px 0 141px 0;
        text-align: center;
    }

    &__tittle {
        font-size: 57px;
        color: #FFFFFF;
        margin-bottom: 10px;

        @media screen and (max-width: 745px) {
            font-size: 36px;
        }
    }

    &__line {
        display: block;
        margin: 0 auto;
        width: 120px;
        height: 2px;
        background-color: #fff;
        margin-bottom: 15px;
    }

    &__subtittle {
        font-size: 24px;
        font-weight: 300;
        color: #FFFFFF;
        margin-bottom: 27px;
    }
}

.button {
    display: inline-block;
    background: #1AB0CE;
    border-radius: 2px;
    padding: 13px 22px;
    font-weight: 500;
    color: #fff;
}

//  -----------------------------------production screen-----------------------------------
.production {

    &__body {}
}

.tittle {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    color: #3A4047;
    margin: 30px 0;
}

.list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 370px;
        min-width: 340px;
        // width: 30%;
        align-self: stretch;
        background: #FFFFFF;
        border: 1px solid #DCE1E6;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
        padding: 25px;
        margin-bottom: 20px;

        @media screen and (max-width: 380px) {
            min-width: 300px;
        }
    }


    &__img {
        margin-right: 30px;
    }

    &__text-wrapp {}

    &__tittle {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 900;
        color: $text-color;
        margin-bottom: 24px;
    }

    &__catalog {}

    &__catalog-item {
        font-size: 14px;
        color: $text-color;
        margin-right: 24px;
        line-height: 30px;
    }

    &__catalog-special {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__catalog-special>&__catalog-item {
        display: block;
        width: 36%;
    }

    &__catalog-special>&__catalog-item:nth-child(2n) {
        margin-right: 0;
    }
}

// ---------------------------------about screen---------------------------------

.about {

    &__body {}

    &__content {
        font-size: 14px;
        font-weight: 500;
        text-align: justify;
        color: $text-color;
    }
}

.subtittle {
    font-size: 24px;
    text-align: center;
    color: $text-color;
    margin-bottom: 34px;
}

//  -----------------------------------news screen---------------------------------

.news {

    &__line {
        margin-top: 30px;
        border: 1px solid #E8EDF2;
    }

    &__body {}
}

.news-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    &__item {
        max-width: 370px;
        min-width: 340px;
        text-align: center;
        padding: 29px 18px;
        transition: .5s;

        @media screen and (max-width: 380px) {
            min-width: 250px;
        }
    }

    &__item:hover {
        background: #FFFFFF;
        box-shadow: 0px -1px 0px $primary-color, 0px 14px 24px rgba(0, 0, 0, 0.05);
        transition: .5s;
    }

    &__item:hover &__content {
        text-decoration-line: underline;
        color: $primary-color;
        transition: .5s;
    }

    &__date {
        font-size: 14px;
        color: #BEC7D1;
    }

    &__content {
        margin-top: 14px;
        font-size: 16px;
        font-weight: 500;
        color: $text-color;
        transition: .5s;
    }
}

.but-wrapp {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.but {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin: 50px 0;
    padding: 6px 21px;
    border: 2px solid $primary-color;
    background-color: #fff;
    color: $primary-color;
    transition: .5s;
}

.but:hover {
    background-color: $primary-color;
    color: #fff;
    transition: .5s;
}

// ----------------------------------------footer-screen----------------------------------------

.footer {
    background-color: #F7F7F7;

    &__body {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__work-wrapp {
        max-width: 270px;
    }

    &__work-about {
        font-size: 14px;
        font-weight: 500;
        color: $text-color;
    }

    &__work-day {
        font-size: 14px;
        font-weight: 500;
        margin-top: 20px;
        color: $text-color;
    }
}

.logo-wrapp {}

.copyright {
    font-size: 14px;
    font-weight: 500;
    color: $text-color;
    margin-top: 20px;
}