@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/ProximaNovaCond-Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url("../fonts/ClearSans/ClearSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url("../fonts/ClearSans/ClearSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url("../fonts/ClearSans/ClearSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url("../fonts/ClearSans/ClearSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Clear Sans';
  src: url("../fonts/ClearSans/ClearSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
p,
span,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Clear Sans';
  color: #3A4047;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
}

button:active,
button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

.menu-desktop {
  display: block;
}

@media screen and (max-width: 680px) {
  .menu-desktop {
    display: none;
  }
}

.menu-desktop__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .menu-desktop__list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu-desktop__item {
  position: relative;
  border-top: 1px solid rgba(255, 0, 0, 0);
  -webkit-transition: .5s;
  transition: .5s;
}

.menu-desktop__item::after {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "|";
  color: #E8EDF2;
}

.menu-desktop__item:last-child::after {
  content: none;
}

.menu-desktop__item:hover {
  border-top: 1px solid #1AB0CE;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu-desktop__item:last-child:hover {
  border-top: 1px solid rgba(255, 0, 0, 0);
}

.menu-desktop__item:hover .menu-desktop__link {
  color: #1AB0CE;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu-desktop__link {
  display: inline-block;
  padding: 18px 34px;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #3A4047;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu-desktop__search {
  padding: 18px 15px;
}

.menu-desktop__search-svg {
  stroke: #3A4047;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.menu-mobile {
  display: none;
  width: 100%;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
}

@media screen and (max-width: 680px) {
  .menu-mobile {
    display: block;
  }
}

.menu-mobile__menu {
  width: 100%;
  padding: 18px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #3A4047;
}

.menu-mobile__list {
  position: absolute;
  top: 100%;
  z-index: 50;
  width: 100%;
  background-color: #fff;
  height: 0;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
}

.menu-mobile__list-active {
  height: auto;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu-mobile__item {
  padding: 18px;
  position: relative;
}

.menu-mobile__item ::after {
  position: absolute;
  bottom: 0;
  right: 47%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin: 0 auto;
  content: "";
  width: 20px;
  height: 1px;
  background-color: #E8EDF2;
}

.menu-mobile__link {
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #3A4047;
  -webkit-transition: .5s;
  transition: .5s;
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.header__first-wrapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  padding: 18px 0;
}

@media screen and (max-width: 670px) {
  .header__first-wrapp {
    position: relative;
  }
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  width: 67px;
  height: 62px;
  margin-right: 10px;
}

@media screen and (max-width: 400px) {
  .logo__img {
    width: 42px;
    height: 42px;
  }
}

.logo__tittle {
  font-family: 'Proxima Nova';
  font-size: 48px;
  text-transform: uppercase;
  line-height: 41px;
  color: #1AB0CE;
}

@media screen and (max-width: 400px) {
  .logo__tittle {
    font-size: 30px;
    line-height: 27px;
  }
}

.logo__subtittle {
  font-family: 'Proxima Nova';
  font-size: 15px;
  color: #3A4047;
}

@media screen and (max-width: 400px) {
  .logo__subtittle {
    font-size: 12px;
  }
}

.work {
  width: 375px;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .work {
    margin-top: 15px;
    width: 100%;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media screen and (max-width: 670px) {
  .work {
    margin-top: 0;
    width: 100%;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
}

.work__about {
  margin-bottom: 11px;
}

.work__day {
  font-weight: bold;
}

.contacts-wrapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 670px) {
  .contacts {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -webkit-flex-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    margin-top: 15px;
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

.contacts__row-one {
  width: 320px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 670px) {
  .contacts__row-one {
    margin-bottom: 15px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 450px) {
  .contacts__row-one {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
  }
}

@media screen and (max-width: 360px) {
  .contacts__row-one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .contacts__item {
    margin-right: 20px;
  }
}

@media screen and (max-width: 360px) {
  .contacts__item {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

.contacts__mail {
  font-size: 14px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #3A4047;
}

.contacts__row-two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (max-width: 670px) {
  .contacts__row-two {
    margin-bottom: 15px;
  }
}

.personal-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-area__img {
  width: 12px;
  height: 13px;
  margin-right: 8px;
  stroke: #1AB0CE;
}

.personal-area__text {
  font-size: 14px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #3A4047;
}

.contact__icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  stroke: #3A4047;
  stroke-width: 2;
}

.contact__icon:hover {
  stroke: #1AB0CE;
}

.contact__number {
  font-size: 16px;
  font-weight: bold;
  margin-right: 6px;
}

.contact__arrow-wrapp {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #EDEDED;
  border-radius: 50%;
  cursor: pointer;
}

.contact__arrow {
  stroke: #3A4047;
  stroke-width: 3;
  width: 4px;
  height: 8px;
  position: absolute;
  z-index: 19;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  -webkit-transition: .5;
  transition: .5;
}

.contact__arrow-active {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
}

.number-list {
  opacity: 0;
  height: auto;
  position: absolute;
  top: 178%;
  right: -11px;
  z-index: -1;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  -webkit-transition: .5s;
  transition: .5s;
}

.number-list__rhomb {
  position: absolute;
  top: -3px;
  right: 8px;
  background: #fff;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.number-list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.number-list__item:last-child {
  margin-bottom: 0;
}

.number-list__img {
  width: 25px;
  height: 25px;
  margin-right: 11px;
}

.number-list__number {
  font-size: 16px;
  color: #3A4047;
}

.number-list__active {
  opacity: 1;
  z-index: 30;
}

.basket {
  position: relative;
  width: 44px;
  height: 44px;
  margin-left: 20px;
}

@media screen and (max-width: 670px) {
  .basket {
    position: absolute;
    top: 27px;
    right: 19px;
  }
}

@media screen and (max-width: 400px) {
  .basket {
    width: 36px;
    height: 36px;
    right: 14px;
  }
}

.basket__svg {
  width: 100%;
  height: 100%;
  stroke: #1AB0CE;
}

.basket__number-wrapp {
  position: absolute;
  top: -20%;
  right: -40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: #1AB0CE;
  border-radius: 50%;
}

@media screen and (max-width: 400px) {
  .basket__number-wrapp {
    width: 25px;
    height: 25px;
  }
}

.basket__number-goods {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}

@media screen and (max-width: 400px) {
  .basket__number-goods {
    font-size: 12px;
  }
}

.first-screen {
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(..//img/bg.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(..//img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 70%;
}

.first-screen__body {
  padding: 153px 0 141px 0;
  text-align: center;
}

.first-screen__tittle {
  font-size: 57px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

@media screen and (max-width: 745px) {
  .first-screen__tittle {
    font-size: 36px;
  }
}

.first-screen__line {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 15px;
}

.first-screen__subtittle {
  font-size: 24px;
  font-weight: 300;
  color: #FFFFFF;
  margin-bottom: 27px;
}

.button {
  display: inline-block;
  background: #1AB0CE;
  border-radius: 2px;
  padding: 13px 22px;
  font-weight: 500;
  color: #fff;
}

.tittle {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  color: #3A4047;
  margin: 30px 0;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 370px;
  min-width: 340px;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  background: #FFFFFF;
  border: 1px solid #DCE1E6;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  padding: 25px;
  margin-bottom: 20px;
}

@media screen and (max-width: 380px) {
  .list__item {
    min-width: 300px;
  }
}

.list__img {
  margin-right: 30px;
}

.list__tittle {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  color: #3A4047;
  margin-bottom: 24px;
}

.list__catalog-item {
  font-size: 14px;
  color: #3A4047;
  margin-right: 24px;
  line-height: 30px;
}

.list__catalog-special {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.list__catalog-special > .list__catalog-item {
  display: block;
  width: 36%;
}

.list__catalog-special > .list__catalog-item:nth-child(2n) {
  margin-right: 0;
}

.about__content {
  font-size: 14px;
  font-weight: 500;
  text-align: justify;
  color: #3A4047;
}

.subtittle {
  font-size: 24px;
  text-align: center;
  color: #3A4047;
  margin-bottom: 34px;
}

.news__line {
  margin-top: 30px;
  border: 1px solid #E8EDF2;
}

.news-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.news-list__item {
  max-width: 370px;
  min-width: 340px;
  text-align: center;
  padding: 29px 18px;
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (max-width: 380px) {
  .news-list__item {
    min-width: 250px;
  }
}

.news-list__item:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0px -1px 0px #1AB0CE, 0px 14px 24px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -1px 0px #1AB0CE, 0px 14px 24px rgba(0, 0, 0, 0.05);
  -webkit-transition: .5s;
  transition: .5s;
}

.news-list__item:hover .news-list__content {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #1AB0CE;
  -webkit-transition: .5s;
  transition: .5s;
}

.news-list__date {
  font-size: 14px;
  color: #BEC7D1;
}

.news-list__content {
  margin-top: 14px;
  font-size: 16px;
  font-weight: 500;
  color: #3A4047;
  -webkit-transition: .5s;
  transition: .5s;
}

.but-wrapp {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.but {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin: 50px 0;
  padding: 6px 21px;
  border: 2px solid #1AB0CE;
  background-color: #fff;
  color: #1AB0CE;
  -webkit-transition: .5s;
  transition: .5s;
}

.but:hover {
  background-color: #1AB0CE;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer {
  background-color: #F7F7F7;
}

.footer__body {
  padding: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__work-wrapp {
  max-width: 270px;
}

.footer__work-about {
  font-size: 14px;
  font-weight: 500;
  color: #3A4047;
}

.footer__work-day {
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  color: #3A4047;
}

.copyright {
  font-size: 14px;
  font-weight: 500;
  color: #3A4047;
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */