@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/ProximaNovaCond-Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url("../fonts/ClearSans/ClearSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url("../fonts/ClearSans/ClearSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url("../fonts/ClearSans/ClearSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url("../fonts/ClearSans/ClearSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Clear Sans';
  src: url("../fonts/ClearSans/ClearSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
p,
span,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Clear Sans';
  color: #3A4047;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
}

button:active,
button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__first-wrapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 18px 0;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  width: 67px;
  height: 62px;
  margin-right: 10px;
}

.logo__tittle {
  font-family: 'Proxima Nova';
  font-size: 48px;
  text-transform: uppercase;
  line-height: 41px;
  color: #1AB0CE;
}

.logo__subtittle {
  font-family: 'Proxima Nova';
  font-size: 15px;
  color: #3A4047;
}

.work {
  width: 375px;
  text-align: center;
}

.work__about {
  margin-bottom: 11px;
}

.work__day {
  font-weight: bold;
}

.contacts-wrapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__row-one {
  width: 320px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.contacts__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__mail {
  font-size: 14px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #3A4047;
}

.contacts__row-two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-area__img {
  width: 12px;
  height: 13px;
  margin-right: 8px;
  stroke: #1AB0CE;
}

.personal-area__text {
  font-size: 14px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #3A4047;
}

.contact__icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  stroke: #3A4047;
  stroke-width: 2;
}

.contact__icon:hover {
  stroke: #1AB0CE;
}

.contact__number {
  font-size: 16px;
  font-weight: bold;
  margin-right: 6px;
}

.contact__arrow-wrapp {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #EDEDED;
  border-radius: 50%;
  cursor: pointer;
}

.contact__arrow {
  stroke: #3A4047;
  stroke-width: 3;
  width: 4px;
  height: 8px;
  position: absolute;
  z-index: 19;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.basket {
  position: relative;
  width: 44px;
  height: 44px;
  margin-left: 20px;
}

.basket__svg {
  width: 100%;
  height: 100%;
  stroke: #1AB0CE;
}

.basket__number-wrapp {
  position: absolute;
  top: -20%;
  right: -40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: #1AB0CE;
  border-radius: 50%;
}

.basket__number-goods {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}

.first-screen {
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(..//img/bg.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(..//img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 70%;
}

.first-screen__body {
  padding: 153px 0 141px 0;
  text-align: center;
}

.first-screen__tittle {
  font-size: 57px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

@media screen and (max-width: 745px) {
  .first-screen__tittle {
    font-size: 36px;
  }
}

.first-screen__line {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 15px;
}

.first-screen__subtittle {
  font-size: 24px;
  font-weight: 300;
  color: #FFFFFF;
  margin-bottom: 27px;
}

.button {
  display: inline-block;
  background: #1AB0CE;
  border-radius: 2px;
  padding: 13px 22px;
  font-weight: 500;
  color: #fff;
}

.tittle {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  color: #3A4047;
  margin: 30px 0;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 370px;
  min-width: 340px;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  background: #FFFFFF;
  border: 1px solid #DCE1E6;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  padding: 25px;
  margin-bottom: 20px;
}

@media screen and (max-width: 380px) {
  .list__item {
    min-width: 300px;
  }
}

.list__img {
  margin-right: 30px;
}

.list__tittle {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  color: #3A4047;
  margin-bottom: 24px;
}

.list__catalog-item {
  font-size: 14px;
  color: #3A4047;
  margin-right: 24px;
  line-height: 30px;
}

.list__catalog-special {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.list__catalog-special > .list__catalog-item {
  display: block;
  width: 36%;
}

.list__catalog-special > .list__catalog-item:nth-child(2n) {
  margin-right: 0;
}

.about__content {
  font-size: 14px;
  font-weight: 500;
  text-align: justify;
  color: #3A4047;
}

.subtittle {
  font-size: 24px;
  text-align: center;
  color: #3A4047;
  margin-bottom: 34px;
}

.news__line {
  margin-top: 30px;
  border: 1px solid #E8EDF2;
}

.news-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.news-list__item {
  max-width: 370px;
  min-width: 340px;
  text-align: center;
  padding: 29px 18px;
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (max-width: 380px) {
  .news-list__item {
    min-width: 250px;
  }
}

.news-list__item:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0px -1px 0px #1AB0CE, 0px 14px 24px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -1px 0px #1AB0CE, 0px 14px 24px rgba(0, 0, 0, 0.05);
  -webkit-transition: .5s;
  transition: .5s;
}

.news-list__item:hover .news-list__content {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #1AB0CE;
  -webkit-transition: .5s;
  transition: .5s;
}

.news-list__date {
  font-size: 14px;
  color: #BEC7D1;
}

.news-list__content {
  margin-top: 14px;
  font-size: 16px;
  font-weight: 500;
  color: #3A4047;
  -webkit-transition: .5s;
  transition: .5s;
}

.but-wrapp {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.but {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin: 50px 0;
  padding: 6px 21px;
  border: 2px solid #1AB0CE;
  background-color: #fff;
  color: #1AB0CE;
  -webkit-transition: .5s;
  transition: .5s;
}

.but:hover {
  background-color: #1AB0CE;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}
/*# sourceMappingURL=style.css.map */